#div_5982 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 300px;
    margin: 0 auto;
}

#div_6820 {
    padding: 16px;
    border: 1px solid #272727;
    width: 300px;
    box-sizing: border-box;
    margin: 8px auto;
    border-radius: 5px;

    input {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.17em;
        padding: 4px 8px;
        margin: 8px 0px;
    }

    label {
        font-size: 1.33em;
    }

    button {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.17em;
        padding: 8px;
        margin-top: 8px;
        background-color: #04AA6D;
        color: #ffffff;
        border: none;
        border-radius: 5px;
    }
}

#div_3491 {
    width: 300px;
    margin: 0px auto;

    button {
        box-sizing: border-box;
        width: 100%;
        font-size: 1.17em;
        padding: 8px;
        background-color: #ffffff;
        color: #000000;
        border: 1px solid #272727;
        border-radius: 5px;
    }
}