#div_7206 {
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-color: #272727;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#div_5937 {
    button {
        background-color: transparent;
        border: none;
        font-size: 1.5em;
        margin: 0px 4px;
        padding: 8px;
    }

    #button_1946 {
        border: 1px solid #272727;
        border-radius: 5px;
    }

}